body{
    background-color: aliceblue;
}

h1{
    color: red;
}

p{
    color: rgb(201, 132, 52);
}


#StoryB{
    color: rgb(218, 30, 30);
    background-color: aqua;
}
.StoryBg{
    color: cadetblue;
}